/* Algemene opmaak voor alle elementen */
* {
  margin: 0;
  padding: 0;
  font-family: "Hind Madurai", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}

/* Header sectie stijlen */
.header {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(afbeeldingen/Stadion-wedstrijd-01-min.jpg) center/cover;
  position: relative;
  z-index: 1; /* Zorg ervoor dat de banner boven de kaart ligt */
}

/* Navigatie stijlen */
nav img {
  height: 90px;
  width: 150px;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

/* Navigatie links stijlen */
.nav-links {
  display: flex;
  text-align: right;
}

.nav-links ul li {
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  list-style: none;
}

.nav-links ul li a {
  text-align: none;
  font-size: 17px;
  color: #fff;
}

.nav-links ul li ::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #111c98;
  margin: auto;
  display: block;
  transition: 0.5s;
}

.nav-links ul li :hover::after {
  color: #111c98;
  width: 100%;
}

/* Tekstbox stijlen */
.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2; /* Zorg ervoor dat de tekstbox boven de kaart ligt */
}

.text-box {
  font-size: 22px;
}
.text-box p {
  margin: 10px 0 40px;
  font: 14px;
  color: #fff;
}

/* Over mij sectie stijlen */
.over-mij {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

/* Tweede Over mij sectie stijlen */
.over-mij2 {
  width: 80%;
  margin: auto;
  text-align: center;
}

/* Stijlen voor de 'row' elementen */
.row {
  flex-basis: 31%;
  background: #6acaf0;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  color: white;
  transition: 0.5s;
}

.row {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.row :hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

/* Stijlen voor afbeeldingen */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

/* Stijlen voor sociale pictogrammen */
.social-icons i {
  font-size: 24px;
  margin: 0 10px;
  color: black;
}

/* Stijlen voor het contactformulier */
.contact-us {
  width: 80%;
  margin: auto;
  background-color: white;
}

.contact-col {
  flex-basis: 48%;
  margin: 30px;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contact-col div .fa {
  font-size: 28px;
  color: #6acaf0;
  margin: 10px;
  margin-right: 30px;
}

.contact-col div p {
  padding: 0;
  font-size: 15px;
}

.contact-col div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
}

.contact-col form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.contact-col input,
.contact-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #6acaf0;
  border-radius: 5px;
}

.contact-col textarea {
  resize: vertical;
}

.contact-col button {
  background-color: #6acaf0;
  color: #fff;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-col button:hover {
  background-color: #4f8bc9;
}

/* Stijlen voor zoekbalk */
.search-bar {
  display: flex;
  align-items: center;
}

#search-input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

#search-button {
  background-color: #6acaf0;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#search-button:hover {
  background-color: #4f8bc9;
}

/* Stijlen voor de kaart */
#map {
  height: 400px;
  width: 80%;
  margin: auto;
  z-index: 0; /* Zorg ervoor dat de kaart onder de banner ligt */
  padding-top: 30px; /* Of pas de gewenste padding-top aan */
  margin-top: 20px; /* Of pas de gewenste margin-top aan */
  margin-bottom: 20px;
}

/* Stijlen voor de knoppen */
.hero-btn red-btn {
  background-color: #6acaf0;
}

/* Stijlen voor sectie met zes onderdelen */
.zes-onderdelen {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  color: white;
}

/* Stijlen voor sectie met zes onderdelen (tweede variant) */
.zes-onderdelentwee {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  color: white;
}

/* Stijlen voor cursuselementen */
.course-col {
  flex-basis: 31%;
  background-color: #6acaf0;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.course-col :hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

/* Stijlen voor afbeeldingen in fotoclubs sectie */
.foto-clubs img {
  max-width: 15%; /* Zorgt ervoor dat de afbeeldingen niet breder zijn dan hun container */
  height: auto;
  margin-bottom: 20px;
  margin-right: 2px;
  margin-left: 5px;
  margin-top: 20px;
}

/* Stijlen voor fotoclubs sectie */
.foto-clubs {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

/* Stijlen voor afbeeldingen in tweede fotoclubs sectie */
.foto-clubstwee img {
  display: block;
  max-width: 10%;
  height: auto;
  margin-bottom: 5px; /* Aangepaste waarde, verlaag de ruimte tussen afbeeldingen en tekstblokken */
  margin-right: 1px;
  margin-left: 5px;
  margin-top: 5px;
  padding: 5px;
}

/* Stijlen voor tweede fotoclubs sectie */
.foto-clubstwee {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

/* Stijlen voor contactkolom  */
.contact-col {
  flex-basis: 48%;
  margin: 30px;
}

h3 {
  color: #111c98;
}
a {
  text-decoration: none;
}

/* Stijlen voor informatietabel  */
.info-tabel {
  width: 80%;
  margin: auto;
  padding: 60px 0;
}

/* Stijlen voor linkerkolom in informatietabel  */
.info-links {
  flex-basis: 65%;
}

.info-links img {
  width: 45%;
  flex-basis: 65%;
}

.info-links {
  color: black;
  font-weight: 600;
  margin: 30px 0;
}

/* Stijlen voor rechterkolom in informatietabel  */
.info-rechts {
  flex-basis: 32%;
}

.info-rechts h4 {
  background: #6acaf0;
  color: white;
  padding: 7px 0;
  font-size: 16px;
  margin-bottom: 20px;
}

.info-rechts div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #6acaf0;
  padding: 8px;
  box-sizing: border-box;
}

/* Stijlen voor de footer sectie */
.footer {
  background-color: #88d4dc;
  color: white;
  padding: 2px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

.footer-content p {
  margin: 0;
}

/* Stijlen voor sociale pictogrammen in de footer  */
.social-icons {
  display: flex;
}

.social-icons .icon {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.social-icons .icon i {
  font-size: 24px;
}
